<!doctype html>
<html>
<head>
	<title>web-irc | hacklab</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    	<link rel="stylesheet" href="css/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
    <div id="content">
        <header>
            <ul class="frames pills"></ul>
        </header>
        <div id="frame">
            <div id="sidebar">
                <div class="stats">sobrenombre</div>
                <div class="nicks"></div>
            </div>
            <div class="wrapper">
                <div id="output">
                    <div id="topic">asunto del canal</div>
                    <div id="messages"></div>
                    <div class="gutter"></div>
                </div>
            </div>
            <input id="prime-input" type="text">
        </div>
    </div>

    <div id="connect" class="modal" >
        <div class="modal-header">
            <h3>Conectar al IRC</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="clearfix">
                    <label for="connect-nick">Apodo</label>
                    <div class="input">
                        <input type="text" id="connect-nick" name="nick">
                    </div>
                </div>
                <div class="clearfix">
                    <label for="channels">Canales</label>
                    <div class="input">
                        <input type="text" id="connect-channels" name="channels" value="#lab" >
                        <span class="help-block">Separar con comas multiples canales</span>
                    </div>
                </div>
            </form>
            <div class="clearfix" style="text-align: right;  width: 410px;">
                                <a href="#" class="btn primary" >Conectar</a>
            </div>
        </div>
        <div class="modal-header">
            <h4>Comandos básicos de IRC</h3>
        </div>
<pre>
/MSG apodo_amigo mensaje 	- Para enviar un mensaje privada
/JOIN #canal 			- Accedes a un canal
/NICK nuevo_apodo 		- Cambia el apodo
</pre>
    </div>

    <!-- Mustache templates -->
    <script id="message-tmpl" type="text/html">
        {{#sender}}<span class="sender">{{sender}}</span>{{/sender}}
        <span class="text {{^sender}}no-sender{{/sender}}">{{{text}}</span>
    </script>

    <script id="tab-tmpl" type="text/html">
        <a class="name {{type}}">{{text}}</a>
        {{^isStatus}}
            <span class="close-frame"></span>
        {{/isStatus}}
    </script>

    <!-- JAVASCRIPT -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/mustache.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/bootstrap/bootstrap-modal.js"></script>

    <script src="js/util.js"></script>
    <script src="app.js"></script>
<script>

        $("#nicks.div").click(function() {
                  alert("Handler for .click() called.");
        });
        $("#connect-channels").val(location.href.split("channels=")[1]);

        function cambios () {
                $("a[href$='.png'], a[href$='.jpg'], a[href$='.gif']").each(function() {
                        var img = $('<img>',{src: this.href});
                        $(this).replaceWith(img);
                });
                $("a[href$='.ogg']").each(function() {
                        $(this).replaceWith(<video src="'+ this.href +'"></video>);
                });
        }

        var Intervalo

        $(document).ready(function() {
                Intervalo = setInterval('cambios()', 5000);  
        });


</script>
</body>
</html>
